*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak

*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.tmp
**/arm/JLinkLog.txt
**/arm/_build
**/_viminfo
**/_vimtags
